.wrapper {
  height: 80vh;
  overflow-y: scroll;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.calendarView {
  display: flex;
}

.calendarColumn {
  display: grid;
  gap: 1px;
  background: var(--sub-alt-color);
  width: 100%;
  position: relative;
}

.gridCell {
  position: relative;
}

.gridCellNoLines {
  position: relative;
}

.gridCell::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--sub-color);
  width: 100%;
  top: 0;
}

.gridCell:first-child::before {
  border-top: none;
}

.timeColumn {
  display: grid;
  gap: 1px;
  padding-right: 5px;
  background: var(--sub-alt-color);
  width: 50px;
  position: relative;
  align-items: center;
  justify-items: right;
  align-content: center;
  color: var(--sub-color);
  font-size: 12px;
}

.calendarEvent {
  background: var(--main-color);
  color: var(--background-color);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  width: 93%;
  margin-left: 3%;
}

.calendarEvent h1 {
  font-size: 1rem;
}
