.calendarView {
  display: flex;
}

.calendarColumn {
  display: grid;
  gap: 1px;
  background: var(--sub-alt-color);
  width: 500px;
  position: relative;
}

.gridCell {
  position: relative;
}

.gridCell::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--sub-color);
  width: 100%;
  top: 0;
}

.gridCell:first-child::before {
  border-top: none;
}
